* {
    position:relative;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    background-color: #00C5FF;
}

h1 {
    display: flex;
    font-size: 50px;
    color: #008fc6;
    font-family: "monaco";
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

.Buttons * {
    background-color: #C8F7FF;
    font-size: 30px;
}

.Buttons{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

#score {
    display: flex;
    position: absolute;
    top: 8px;
    right: 130px;
    font-size: 50px;
    color: #C8F7FF;
}

main, img {
    position: relative;
    text-align: center;
}

#xs {
    display: flex;
    position: absolute;
    top: 8px;
    left: 130px;
    font-size: 50px;
    color: #C8F7FF;
}

#randomNeed {
    display: flex;
    top: 100px;
    right: 425px;
    align-items: flex-start;
}