* {
    position:relative;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    display: flex;
    background-color: rgb(0, 204, 255);
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

h1 {
    display: flex;
    font-size: 50px;
    color: #F2B3D6;
    font-family: "monaco";
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
    left: 700px;
}

.Buttons * {
    background-color: #C8F7FF;
    font-size: 30px;
    border-radius: 30px;
}

.Buttons:hover {
    color: #008fc6;
}

.Buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#score{
    display: flex;
    font-family: "monaco";
    font-size: 30px;
    top: -30px;
    left: 580px;
    color: #F2B3D6;
}

.scoreBox {
    display: flex;
    position: absolute;
    top: 70px;
    right: 610px;
    font-size: 50px;
    color: #F2B3D6;
}

#randomNeed {
    display: flex;
    position: absolute;
    top: 70px;
    right: 1455px;
    font-size: 30px;
    color: #F2B3D6;
    font-family: "monaco";
}

.picture {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    left: 700px;
}

.xs {
    font-size: 50px;
    color: red;
    visibility: hidden;
}

.xRow {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    top: 8px;
    left: -135px;
}


#replayButton{
    display: flex;
    padding: 15px 32px; 
    font-size: larger;
    width: 5%;
    left: 915px; 
    justify-content: center;
}

#replayButton:hover {
    background-color: #F2B3D6;
}

.snow {
    visibility: hidden;
    right: 1450px;
}

.fire {
    visibility: hidden;
    right: 1800px;
}

.sleep {
    visibility: hidden;
    top: -300px;
    right: 2150px;
}

.bored {
    visibility: hidden;
    right: 2300px;
    top: -225px;
}

.hunger {
    visibility: hidden;
    top: 470px;
    right: 2460px;
    height: 30px;
    width: 30px;
}

.fireworks {
    visibility: hidden;
    right: 1050px;
}

.rip {
    visibility: hidden;
    right: 445px;
    top: -20px;
}
#youWin {
    visibility: hidden;
    left: 150px;
    top: 50px;
    font-size: 60px;
    color: #008fc6;
    font-family: "monaco";
}
#youLose {
    visibility: hidden;
    top: 700px;
    font-size: 40px;
    color: #008fc6;
    font-family: "monaco";
}